@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: myFirstFont;
    src:url(../assets/Gilmer-Regular.02cfdd79.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 a{
    text-decoration: none;
  }

  .header{
      padding: 1rem;
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.88),rgba(0, 0, 0, 0.88)),url(../assets/background.jpg);
      background-size: cover;
      background-position: top;
  }

  .navbar-header{
      height: 5rem;
      position: relative;
  }

  .navbar-header .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      
  }

  .navbar-header .logo .logo-img{
    height: 3rem;
  }

  .navbar-header .logo .logo-text{
      margin-top: 2rem;
      font-size: 2.5rem;
      color: white;
  }

  .navbar-header .download-btn{
    text-decoration: none;
     background-color: white;
     border-radius: 25px / 25px;
     padding: 10px;
     font-family: 'Roboto', sans-serif;
     font-weight:520 ;
     color: black;
     position: absolute;
     border: 0;
     top: 50%;
     left: 80%;
     transform: translate(-50%,-50%);
  }

  .navbar-header .download-btn:hover{
    cursor: url(/assets/heart.png),auto;
}

 .navbar-header .download-btn .text{
     padding: 0 0.5rem; 
     /* padding-left: 1.2rem; */
     font-size: 1.2rem;
 }
 
 .navbar-header .download-btn .apple-logo{
     padding: 0 0.5rem; 
     height: 1.5rem; 
     margin-top:-0.4rem ;
 }
 
 .navbar-header .download-btn .store-logo{
     height: 1.2rem;
     padding: 0 0.5rem; 
     height: 1.5rem; 
     padding-right: 1.2rem;
     margin-top:-0.4rem ;
 }
 
 .main-page{
     
     height: 86vh;
     display: grid;
     grid-template-rows: 0.2fr 0.4fr 0.6fr 0.2fr ;
     grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
     grid-template-areas: "blank2 blank2 blank2 blank2"
                          "main-text main-text main-text main-text"
                          "social-logo btn btn blank3"
                          "blank4 btn btn blank5"
                          ;

 }

 
.main-page .main-page-text-div{
    color: white;
    grid-area: main-text;
    
}

.main-page .main-page-text-div .main-page-text{
    
    font-family: 'myFirstFont';
    font-size: 7rem;
    opacity: .8;
    margin: 0;
    line-height: 1;
}
.main-page .main-page-text-div .main-page-hr{
    color: white;
    width: 50%;
    height: 0.2rem;
    margin: 0.8rem auto;
}
.main-page .main-page-text-div h3{
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'myFirstFont';
}

.main-page .social-logo{
     color: white;
     grid-area: social-logo;
     display: grid;
     grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 1fr;
     grid-row-gap:1rem;
     grid-template-areas:"blank10"
                         "facebook"
                         "instagram"
                         "twitter"
                         "blank";
}

.facebook{
    grid-area: facebook;
    font-size: 1.5rem; 
    color: white ; 
}
.instagram{
    grid-area: instagram;
    font-size: 1.5rem; 
    color: white ; 
}

.twitter{
    grid-area: twitter;
   font-size: 1.5rem; 
   color: white ; 
}

.main-page .big-btn{
    grid-area: btn;
    position: relative;
   
}
.main-page .big-btn .download-btn{
    
     text-decoration: none;
     background-color: white;
     border-radius: 65px / 43px;
     width: 20rem;
     padding: 10px;
     font-family: 'Roboto', sans-serif;
     font-weight:520;
     color: black;
     position: absolute;
     border: 0;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
  }
 .main-page .big-btn .download-btn .text{
     padding: 0 1rem; 
     font-size: 2.5rem;
 }
 
 .main-page .big-btn .download-btn .apple-logo{
     padding: 0 1rem; 
     height: 2.5rem; 
     margin-top:-1.5rem ;
 }
 
 .main-page .download-btn .store-logo{
     height: 1.2rem;
     padding: 0 1rem; 
     height: 2.5rem; 
     margin-top:-1.5rem ;
 }
 .main-page .big-btn .download-btn:hover{
     cursor: url(/assets/heart.png),auto;
 }

 @media(max-width:768px){
    .main-page{
     
        height: 85vh;
        display: grid;
        grid-template-rows:1fr 3fr 2fr 1fr;
        grid-template-columns: 1fr ;
        grid-template-areas: "blank"
                             "main-text "
                             "btn"
                             "social-logo"
                             ;
   
    }
    

    .main-page .main-page-text-div .main-page-text{
        font-size: 4rem;
    }

    .main-page .social-logo{
        color: white;
        grid-area: social-logo;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
        grid-column-gap: 1rem;
        grid-template-areas:"blank1 facebook instagram twitter blank2";
   }
 }
